<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Chuck Norris joke app</title>

</head>
<body background="chuck.jpg">
    <div>
        <div>
            <ul>
                <li><a href="/about">About us</a></li>
                <li><a href="/nerd">Are you a nerd?</a></li>
                <li><a href="/reg">Register</a></li>
                <li><a href="/log">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>

</div>
    <!--for angularJs-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>-->
</body>
</html>