<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <!-- klasa servletu-->
        <servlet-class>servlets.WelcomeServlet</servlet-class>
        <!--<init-param>-->
            <!--<param-name>LOG-REQUEST</param-name>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <!--nie bedzie sie klocic z tym co mamy w klasie w adnotacji
         - jeden servlet moze oblusgiwac wiele urlow-->
        <url-pattern>/jokes</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
        <!--<filter-name>LogFilter</filter-name>-->
        <!--<filter-class>servlets.LogFilter</filter-class>-->
        <!--&lt;!&ndash;np gdy chcemy logowac do osobnego pliku w &ndash;&gt;-->
        <!--&lt;!&ndash;parametrze inicjalizacyjnym podajemy sciezke do pliku:&ndash;&gt;-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>LogFilter</filter-name>-->
        <!--<url-pattern>/hello</url-pattern>-->
    <!--</filter-mapping>-->
</web-app>